body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #464646;
    color: white;
}

.quotes-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    gap: 0 0;
    grid-template-areas: ". .";
}

.quotes-data-root{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: ". . .";
}

.spread {
    margin-top: 2em;
    text-align: center;
    font-size: 32px;
}

/* Figures colour animation */
.upwards {
    animation: upwards-text-color 0.75s normal ease-out;
}

.downwards {
    animation: downwards-text-color 0.75s normal ease-out;
}

@keyframes upwards-text-color {
    0% {
        color: green;
    }
    50% {
        color: lightgreen;
    }
    100% {
        color: white;
    }
}

@keyframes downwards-text-color {
    0% {
        color: red;
    }
    50% {
        color: lightpink;
    }
    100% {
        color: white;
    }
}