// Reminder, remove this file from Git if sensitive info is pushed

AppConfig (
    // The default currencies pair to fetch from the exchanges
    currency_pair: "btceur",
    // Limits the amount of entries of the final merged OrderBook (x per asks and bids)
    orderboor_entries_limit: 10,
)
